* {
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: open_sans_regular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: open_sans_bold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

body {
	font-family: open_sans_regular;
	color: #444;
}


.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.center {
	text-align: center;
}

.none {
    display: none !important;
}

a {
	text-decoration: none;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.page_title {
    font-family: open_sans_bold;
    padding: 25px 0;
    text-align: center;
    background: #efefef;
    margin-bottom: 50px;
}

.main_header {
}

.main_header_top {
	padding: 10px 30px;
}

.main_header_bottom {
	background: #ff5c5c;
	padding: 10px 30px;
}

.logo_header_holder {
	float: left;
	width: 150px;
	margin-right: 30px;
}

.logo_header_holder img {
	width: 100%;
}

.main_nav {
	float: left;
	font-size: 17px;
	margin-top: 34px;
	font-family: open_sans_bold;
}

.main_nav li {
	float: left;
	list-style: none;
	margin-right: 10px;
}

.main_nav a {
	color: #000;
}

.main_nav a:hover {
	color: #ff5c5c;
}

.main_header_reg_lang_menu {
    background: #efefef;
    padding: 10px;
}

.main_header_reg_lang_menu_content {
	float: right;
	padding-right: 20px;
}

.header_login_reg_holder {
	float: left;
	font-size: 14px;
	font-family: open_sans_bold;
	border-right: 1px solid #8c8b85;
}

.header_login_reg_holder li {
	float: left;
	list-style: none;
	margin-right: 10px;
}

.header_login_reg_holder a {
	color: #828282;
}

.header_login_reg_holder .fa {
	color: #545454;
}

.header_login_reg_holder a:hover {
	color: #ff5c5c;
}

.choose_lang_header {
    float: left;
    line-height: 1;
    margin-left: 10px;
}

.choose_lang_header li {
	float: left;
	list-style: none;
}

.choose_lang_header li:first-of-type {
	margin-right: 2px;
}

.choose_lang_header a {
	display: block;
	width: 20px;
	font-size: 0;
}

.choose_lang_header img {
	width: 100%;
}

.main_header_bottom_left {
	float: left;
}

.main_header_bottom_left a, .main_header_bottom_right a {
	color: #fff;
	font-family: open_sans_bold;	
}

.main_header_bottom_left a span, .main_header_bottom_right a span {
    margin-left: 5px;
    color: #acff84;
}

.main_header_bottom_right {
	float: right;
}

.main_app_container {
	padding: 0 20px;
	max-width: 1160px;
	margin: auto;
	margin-bottom: 50px;
	line-height: 1.4;
	font-size: 17px;
}

.home_search_job {
	margin-top: 50px;
	padding: 20px;
	background: #efefef;
}

.home_search_job_item_title {
    font-family: open_sans_bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
}

.home_search_job_form .home_search_job_item {
	position: relative;
	float: left;
	width: 50%;
}

.home_search_job_form > .home_search_job_item:first-of-type {
	margin-right: 2%;
}

.options_checkbox {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    right: auto;
    min-width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    overflow-y: scroll;
    z-index: 1;	
}

.options_checkbox label {
	display: block;
	padding: 10px;
}

.job_category .job_search_option_triger {
    float: right;
}

.search_location_holder input {
    width: 98%;
    line-height: 40px;
    font-size: 16px;
    text-indent: 15px;
}

.job_search_option_triger .fa {
    position: absolute;
    right: 15px;
    top: 7px;
    font-size: 27px;
    color: #ccc;
    line-height: 1;
}

.job_search_option_triger.open .fa-angle-down {
	display: none;
}

.job_search_option_triger .fa-angle-up {
	display: none;
}

.job_search_option_triger.open .fa-angle-up {
	display: block;
}


.home_search_job_item.search_job_filters_item {
	width: auto;
	margin-right: 20px;
}

.home_search_job_item.search_job_filters_item p.job_search_option_triger {
	width: auto;
	padding: 0 45px 0 15px;
	text-indent: 0;
}

p.job_search_option_triger {
	position: relative;
    width: 100%;
    border: 1px solid #ccc;
    line-height: 42px;
    color: #757575;
    text-indent: 15px;
    background: #fff;
    cursor: pointer;
}

.filter_search_triger {
    text-align: center;
    margin: 20px 0;
    float: left;
}

.filter_search_triger p {
    position: relative;
    display: inline-block;
    background: #2790d4;
    padding: 10px 15px 10px 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.filter_search_triger .fa {
	position: absolute;
	left: 10px;
    line-height: 1;
    vertical-align: bottom;
    font-size: 20px;
    margin-right: 7px;
    display: block;
}

.filter_search_triger .fa-sort-desc {
	top: 5px;
}

.filter_search_triger.open .fa-sort-desc {
	display: none;
}

.filter_search_triger.open .fa-sort-asc {
	top: 13px;
	display: block;
}

.filter_search_triger .fa-sort-asc{
	display: none;
}

.search_job_filters_holder {
    display: none;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

.btn_job_search_home_submit {
	text-align: center;
	float: right;
	margin: 20px 0;
}

.btn_job_search_home_submit button {
    background: #4aa220;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}

.home_top_employers {
    margin-top: 50px;
    border-top: 1px solid #c7c7c7;
    padding-top: 50px;
}

.home_top_employers_grid {
    background: #efefef;
    padding: 20px;
}

.home_top_employers_grid li {
	float: left;
	list-style: none;
	width: 20%;
}

.home_top_employers_grid li a {
    display: block;
    margin: 3px;
    border: 1px solid #eee;
    text-align: center;
}

.home_top_employers_grid li img {
	width: 95%;
}

.section_title {
	font-size: 23px;
    font-family: open_sans_bold;
    margin-bottom: 20px;
    color: #444;
}

.section_title span {
	border-bottom: 2px solid #ff5c5c;
}

.login_reg_form {
	max-width: 600px;
	margin: auto;
}

.login_reg_form_item label {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 9px;
}

.login_reg_form_item input {
    width: calc(100% - 30px);
    font-size: 18px;
    line-height: 40px;
    color: #444;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login_reg_form_submit input[type="submit"], .login_reg_form_submit button.submit {
    display: block;
    width: 100%;
    margin: auto;
    font-size: 20px;
    background: #4aa220;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-family: open_sans_bold;
    line-height: 40px;
}

.forgot_pass_link {
	margin-top: 20px;
	text-align: center;
}

.forgot_pass_link a {
    color: #585858;
    font-size: 15px;
}

a.login_reg_form_change_option {
    display: block;
    width: 100%;
    margin: auto;
    font-size: 20px;
    background: #444444;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-family: open_sans_bold;
    text-align: center;
    margin-top: 20px;
    line-height: 40px;
}

.main_footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;	
	background: #444;
}

.copyrigts {
    background: #ff5c5c;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
}

.login_reg_template .main_footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

.footer_menu {
	padding: 10px 0;
	text-align: center;
}

.footer_menu li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #fff;
}

.footer_menu li:first-of-type {
	border-left: 1px solid #fff;
	padding-left: 10px;
	margin-left: 10px;
}

.footer_menu a {
	color: #fff;
}

.terms_register_content {
    margin-top: 30px;
	margin-bottom: 30px;
}

.terms_register_content_item {
	margin-top: 30px;
}

.terms_register_content_item .terms_register_content_item_title {
    font-size: 22px;
    font-family: open_sans_bold;
}

.terms_register_content_item .terms_register_content_item_title p {
	display: inline-block;
	border-bottom: 2px solid #ff5c5c;
    margin-left: 0;	
}

.terms_register_content_item p {
	margin-left: 40px;
	margin-bottom: 10px;
}

.terms_register_content_item p span {
	font-family: open_sans_bold;
}

.register_terms_confirmation button {
    background: #4aa220;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;	
}

.login_reg_form_item select{
    width: 100%;
    font-size: 18px;
    border: none;
    padding: 17px;
    display: block;
}

.company_registration_form .login_reg_form_item label{
	display: inline-block;
	margin-bottom: 0;
}

.company_registration_form .login_reg_form_item input[type="text"] {
	width: calc(100% - 30px);
}

.login_reg_form_item label span {
	vertical-align: middle;
}

.login_reg_form_item label input[type="radio"] {
	margin-left: 8px;
	margin-bottom: 0;
	vertical-align: middle;
}

.company_registration_form .login_reg_form_item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.company_registration_form .login_reg_form_item input {
	width: auto;
}

.form_title {
    margin-bottom: 10px;
    font-family: open_sans_bold;
}

.company_type_form_section label {
	margin: 0 10px;
}

.company_type_form_section label:first-of-type {
	margin-left: 0;
}

.company_registration_form .login_reg_form_submit {
	border-bottom: none;
}

.company_registration_form .form_smaller_text label {
    display: block;
    font-size: 15px;
    margin: 0;
    text-align: left;
}

.company_registration_form .form_smaller_text label small {
	display: block;
	color: #888;	
}